doctype html
html
  head
    meta charset="utf-8"

    /! Always force latest IE rendering engine or request Chrome Frame
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    /! Use title if it's in the page YAML frontmatter
    title = data.page.title || "The Middleman"

    == stylesheet_link_tag "all"
    
    link href="https://code.jquery.com/jquery-1.12.4.min.js"

  body class="#{page_classes}"
  
  = partial "header"

  = yield
  
  = partial "footer"
    
    == javascript_include_tag  "all"
